.navbar {
  background-color: white !important;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 7px;
  top: 10px;
  /* width: 95%; */
  width: 82%;
  /* margin-left: 2.5%; */
  margin-left: 230px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.menu-bars svg {
  color: rgb(83, 80, 80) !important;
}
.nav-menu {
  background-color: white !important;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  box-shadow: 2px 0px #e6dfdf;
}

.nav-menu.active {
  left: -33px;
  top: 0;
  transition: 350ms;
  position: fixed;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 0px 0px 1px;
  list-style: none;
  height: 40px;
  margin-left: 5px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(83, 80, 80) !important;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px 0;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.nav-text a:hover {
  color: rgb(83, 80, 80) !important;
  background-color: rgba(173, 173, 173, 0.2) !important;
}

.sidebarSelectedMenu a{
  background-color: rgba(173, 173, 173, 0.2);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moduleTitle {
  margin-left: 5px !important;
}
